@import "tailwindcss";

html,
body {
  height: 100%;
  overflow: hidden;
}

@layer components {
  .project_card {
    @apply bg-slate-800 p-4 rounded-lg hover:bg-slate-700 transition-colors duration-300 text-white text-center h-64;
  }
}